body{
    background-color: sienna;
    display: block;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
header{
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
}
.titulo{
    color: sienna;
    font-size: 20px;
}
main{
    background-color: antiquewhite;
}
footer{
    background-color: antiquewhite;
}
main{
    background-color: sienna;
    display: flex;
    padding: 100px;
    justify-content: center;
}
.a{
    border: 1px solid sienna;
    background-color: antiquewhite;
    margin-right: 10px;
    width: 50%;
    margin-right: 2%;
}
.b{
    border: 1px solid sienna;
    background-color: antiquewhite;
    margin-right: 10px;
    width: 50%;
    margin-left: 2%;
}