body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(119, 51, 119), rgb(228, 159, 228));
}
.Tarjeta{
    width: 450px;
    height: 550px;
    border-left: auto;
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    box-shadow:0 0 80px 4px black

}
.perfil{
    position:absolute;
    top: 105px;
    left: 615px;
    border-radius: 100%;
    width: 110px;
    border: 3px solid  rgb(214, 79, 207);
}
.fondo{
    width: 450px;
    height: 200px;
}
.contenedor{
    width: 450px;
    height: 650px;
    text-align: center;
}
.a{
    text-align: center;
}
p{
    padding-top: 5px;
}
section {
    text-align: justify;
}
footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.youtube{
    height: 35px;
    width: 30px;
    margin-right: 10px;
}
.instagram{
    height: 35px;
    width: 30px;
    margin-right: 10px;
}
.tiktok{
    height: 35px;
    width: 30px;
    margin-right: 10px;
}
.facebook{
    height: 35px;
    width: 30px;
    margin-right: 10px;
}
.bt-seguir{
margin-top: 30px;
}
.seguir{
    height: 40px;
    width: 30px;
    background-color: rgb(214, 79, 207);
    padding: 15px;
    border-radius: 40px;
}